body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(209, 209, 209);
}

.App {
  
}

.header {
  height: 80px;
  background-color: red;
  color: white;
  text-align: center;
  border-bottom: solid 4px black;
  border-top: solid 4px black;
}

.header-title {
  margin: auto;
  padding: 1.5rem;
}

.navbar {
  background-color: red;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

