body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(209, 209, 209);
}

.App {
  
}

.header {
  height: 80px;
  background-color: red;
  color: white;
  text-align: center;
  border-bottom: solid 4px black;
  border-top: solid 4px black;
}

.header-title {
  margin: auto;
  padding: 1.5rem;
  cursor: default;
}

.navbar {
  background-color: red;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.link-title {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 22pt;
  color: white;
}

.link-title:after {
  content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom;
    transition: transform 0.20s ease-out;
}

.link-title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}